* {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

[for="order-date"] {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}

.product-search-and-add {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin: 20px;
}

.dropdown-content {
  position: absolute;
  text-align: center;
  font-weight: 400;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 15px;
  min-width: 190px;
  max-width: 190px;
  max-height: 200px;
  overflow-y: auto;
  display: none; /* Initially hidden */
  z-index: 1;
}

.dropdown-content div {
  padding: 5px;
  cursor: pointer;
}

.dropdown-content div:hover {
  background-color: #f1f1f1;
}

input[type="number"]{
    width: 50px;
}

input {
    max-width: 190px;
    background-color: #f5f5f5;
    color: #242424;
    padding: .15rem .5rem;
    min-height: 40px;
    border-radius: 20px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
    outline: 1px solid lightgrey;
    text-align: center;
  }
  
  input:focus {
    border-bottom: 2px solid #5b5fc7;
    border-radius: 100px;
  }
  
  input:hover {
    outline: 1px solid lightgrey;
  }

select {
    max-width: 190px;
    background-color: #f5f5f5;
    color: #7c7c7c;
    padding: .25rem .5rem;
    min-height: 40px;
    border-radius: 100px;
    outline: none;
    border: none;
    line-height: 1.15;
    box-shadow: 0px 10px 20px -18px;
  }

  .product-item-description {
    font-weight: 500;
  }

/* CSS */
.add-to-list {
  align-items: center;
  background-color: #b787f0;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  justify-content: center;
  line-height: 20px;
  max-width: 550px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.add-to-list:hover,
.add-to-list:focus { 
  background-color: #bd94ef;
  color: #ffffff;
}




ul {
    margin-bottom: 8vh;
}

li {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 10px;
    padding: 0;
    list-style-type: none;
}

.generate-email {
    align-items: center;
    background-color: #5d0ac2;
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  
  .generate-email:hover,
  .generate-email:focus { 
    background-color: #7a1aef;
    color: #ffffff;
  }
